* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #242335;
  --pink: #A247B0;
  --gray: #C2C2C2;
  --white: #fff;

  font-size: 62.5%;
  background-color: var(--background);
}

h1 {
  color: var(--white);
  font-size: 3.8rem;
}

body {
  padding: 3rem;
  width: 100vw;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 3rem 1fr auto;
  gap: 10rem;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--white);
}

header,
nav,
main {
  display: flex;
}

header {
  font-family: 'JetBrains Mono', monospace;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

nav {
  gap: 6.4rem;
}

nav span {
  color: var(--white)
}

header,
footer {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

span {
  color: var(--pink);
  font-weight: bold;
}

main {
  gap: 4rem;
  flex-direction: column;
  text-align: center;
  grid-area: main;
}

.image-section {
  max-width: 350px;
}

.image-section img {
  width: 100%;

}

.section-text {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-text p {
  color: var(--gray);
  line-height: 2.2;
}

footer {
  grid-area: footer;
  border-top: 1px solid var(--pink);
  padding: 3rem;
  width: fit-content;
  margin: 0 auto;
  color: var(--white);
  text-align: center;
}


@media only screen and (min-width: 700px) {
  body {
    height: 100vh;
    max-width: 144rem;
    padding: 7rem 2rem 2rem;
  }

  header {
    flex-direction: row;
    gap: 0;
  }

  main {
    flex-direction: row;
    gap: 8rem;
  }

  .image-section {
    width: 450px;
    min-width: 300px;
  }
}